<section>
  <h3>New Message</h3>
  <form method="POST" action="/new">
    <label for="author">
      <input id="author" name="author" title="author" placeholder="Name:" />
    </label>
    <label for="message">
      <input id="message" name="message" title="message" placeholder="Message:" />
    </label>
    <button type="submit">SUBMIT</button>
  </form>
</section>
<a href="/"><button>Go back</button></a>