*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow-anchor: none;
    min-height: 100vh;
}

#anchor{
    overflow-anchor: auto;
    height: 1px;
}

.msgBox{
    display: flex;
    align-items: center;
}

h3{
    padding-right: 10px;
    margin: 0;
}